{
	local_certs
}

localhost {
	encode gzip zstd
	templates
	root * /var/www/html
	file_server

	reverse_proxy /api/* node-app:4000 node-app:5000 {
		header_down Strict-Transport-Security max-age=31536000;
		header_down Content-Type application/json;
	}

	handle /api {
		respond "OK" 200
	}
}

www.localhost {
	redir https://localhost{uri}
}